extends layout

block content
  h1: a(href="/comic/random") Dinosaur Comics
  .comic
    each panel in comic
      .panel
        each line in panel
          div(class=line.speaker.toLowerCase())
            span.sr-only=line.speaker+": "
            span= line.text
  .footer
    .left (C) Ryan North
    .right www.qwantz.com
    if fileName
      .center
        a(href="/comic/"+fileName)= fileName

    details
      summary View JSON
      pre= JSON.stringify(comic, null, 4)
    if original
      details
        summary View original transcript
        .transcript= original